In [2]:
import pandas as pd

In [3]:
# Datos especificos para fechas y horas
fechas = pd.Series(pd.date_range("2025-01-01", periods=365)) # Por defecto la frecuencia del periodo es en dias
fechas

0     2025-01-01
1     2025-01-02
2     2025-01-03
3     2025-01-04
4     2025-01-05
         ...
360   2025-12-27
361   2025-12-28
362   2025-12-29
363   2025-12-30
364   2025-12-31
Length: 365, dtype: datetime64[ns]

In [4]:
fechas[45]

Timestamp('2025-02-15 00:00:00')

In [5]:
fechas = pd.Series(pd.date_range("2025-01-01", periods=6, freq="ME")) # Meses
fechas

0   2025-01-31
1   2025-02-28
2   2025-03-31
3   2025-04-30
4   2025-05-31
5   2025-06-30
dtype: datetime64[ns]

In [ ]:
fechas = pd.Series(pd.date_range("2025-01-01", periods=6, freq="YE")) # Años
fechas

0   2025-12-31
1   2026-12-31
2   2027-12-31
3   2028-12-31
4   2029-12-31
5   2030-12-31
dtype: datetime64[ns]

In [6]:
fechas = pd.Series(pd.date_range("2025-01-01", periods=6, freq="h")) # Horas
fechas

0   2025-01-01 00:00:00
1   2025-01-01 01:00:00
2   2025-01-01 02:00:00
3   2025-01-01 03:00:00
4   2025-01-01 04:00:00
5   2025-01-01 05:00:00
dtype: datetime64[ns]

In [7]:
fechas = pd.Series(pd.date_range("2025-01-01 12:45:00", periods=16, freq="min")) # Minutos
fechas

0    2025-01-01 12:45:00
1    2025-01-01 12:46:00
2    2025-01-01 12:47:00
3    2025-01-01 12:48:00
4    2025-01-01 12:49:00
5    2025-01-01 12:50:00
6    2025-01-01 12:51:00
7    2025-01-01 12:52:00
8    2025-01-01 12:53:00
9    2025-01-01 12:54:00
10   2025-01-01 12:55:00
11   2025-01-01 12:56:00
12   2025-01-01 12:57:00
13   2025-01-01 12:58:00
14   2025-01-01 12:59:00
15   2025-01-01 13:00:00
dtype: datetime64[ns]

In [9]:
df  = pd.read_csv("./Mercado+de+Valores+España.csv")
df.head(5)

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,02/01/2019,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,03/01/2019,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,04/01/2019,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,07/01/2019,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,08/01/2019,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8575 entries, 0 to 8574
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ticker      8575 non-null   object
 1   Fecha       8575 non-null   object
 2   Cierre      8575 non-null   float64
 3   Referencia  8575 non-null   float64
 4   Volumen     8575 non-null   int64
 5   Rotacion    8575 non-null   float64
 6   Ultimo      8575 non-null   float64
 7   Alto        8575 non-null   float64
 8   Bajo        8575 non-null   float64
 9   Promedio    8575 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 670.1+ KB

In [12]:
type(df["Fecha"][0])

str

In [14]:
# Cambiar el tipo de dato de la columna Fecha a datetime
df["Fecha"] = pd.to_datetime( df["Fecha"], format="%d/%m/%Y" )
df.head(5)

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,2019-01-02,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,2019-01-03,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,2019-01-04,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,2019-01-07,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,2019-01-08,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8575 entries, 0 to 8574
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ticker      8575 non-null   object
 1   Fecha       8575 non-null   datetime64[ns]
 2   Cierre      8575 non-null   float64
 3   Referencia  8575 non-null   float64
 4   Volumen     8575 non-null   int64
 5   Rotacion    8575 non-null   float64
 6   Ultimo      8575 non-null   float64
 7   Alto        8575 non-null   float64
 8   Bajo        8575 non-null   float64
 9   Promedio    8575 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 670.1+ KB

In [16]:
type(df["Fecha"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
print("Año: ", df["Fecha"][0].year)
print("Mes: ", df["Fecha"][0].month)
print("Dia: ", df["Fecha"][0].day)

Año:  2019
Mes:  1
Dia:  2

In [22]:
df_mas_5_dias = df["Fecha"] + pd.Timedelta(days=5)
df_mas_5_dias.head(5)

0   2019-01-07
1   2019-01-08
2   2019-01-09
3   2019-01-12
4   2019-01-13
Name: Fecha, dtype: datetime64[ns]

### Ejercicios

In [25]:
"""
Crea una serie temporal que represente todos los días desde el inicio del año 2024 hasta el septimo dia del mismo mes y año. 
Usa el método adecuado para generar esta serie y asígnala a una variable llamada primera_semana_2024 
"""

import pandas as pd

primera_semana_2024 = pd.Series( pd.date_range("2024-01-01", periods=7) )
print(primera_semana_2024)

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
dtype: datetime64[ns]

In [62]:
import pandas as pd

df = pd.read_csv("./fechas.csv")

df["fecha"] = pd.to_datetime(df["fecha"], format="%Y-%m-%d")

df["fecha"] = df["fecha"].dt.strftime("%d/%m/%Y")

df

        fecha
0  01/01/2024
1  02/01/2024
2  03/01/2024

In [58]:
import pandas as pd
 
df = pd.read_csv('fechas.csv')
 
df['fecha'] = pd.to_datetime(df['fecha'], format='%d-%m-%Y')
 
df['fecha'] = df['fecha'] + pd.Timedelta(days=5)

df

       fecha
0 2023-01-06
1 2023-01-07