In [ ]:
import pandas as pd

In [15]:
df = pd.DataFrame({
    'Col1': [100, 200, 300],
    'Col2': [400, 500, 600],
    'Col3': [700, 800, 900],
}, index=['fila1', 'fila2', 'fila3'])

df

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

## Loc: Acceder a filas y columnas por etiquetas

In [25]:
# Log: diferenciar filas y columnas que tengas etiquetas espec√≠ficas
df.loc["fila1"]

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [6]:
type(df.loc["fila1"])

pandas.core.series.Series

In [7]:
df.loc[["fila1", "fila2"]]

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800

In [17]:
df.loc["fila2":"fila3"]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [19]:
df.loc[[False, True, False]]

       Col1  Col2  Col3
fila2   200   500   800

In [23]:
df.loc[ df["Col1"] >= 200 ]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [24]:
df.loc[ :, ["Col1", "Col2"]]

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600

## Iloc: Acceder a filas y columnas por posiciones

In [26]:
df.iloc[0]

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [27]:
df.iloc[0:2]

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800

In [30]:
df.iloc[ :, 1:3]

       Col2  Col3
fila1   400   700
fila2   500   800
fila3   600   900

### Ejemplos

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carmen'],
    'Edad': [25, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}, index=['fila1', 'fila2', 'fila3'])

resultado = df.loc["fila2"]
print(resultado)

Nombre         Luis
Edad             30
Ciudad    Barcelona
Name: fila2, dtype: object

In [32]:
import pandas as pd

df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carmen'],
    'Edad': [25, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}, index=['fila1', 'fila2', 'fila3'])

resultado = df.loc[["fila1", "fila3"]]
print(resultado)

       Nombre  Edad    Ciudad
fila1     Ana    25    Madrid
fila3  Carmen    22  Valencia

In [41]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
})

resultado = df.loc[0:1,["C", "D"]]
print(resultado)

    C   D
0   9  13
1  10  14