# Tipos de datos en Pandas

- En pandas vamos a trabajar con datos organizados como tablas

In [1]:
import pandas as pd

### Dataframes

- Tablas de pandas

In [2]:
datos = {
    "nombre" : ["Juan", "Ana", "Pedro", "Marta"],
    "edad" : [25, 18, 33, 42],
    "sexo" : ["M", "F", "M", "F"]
}

# Crear un conjunto de datos en forma de tabla
df = pd.DataFrame(datos)

print(df)
print(type(df))

  nombre  edad sexo
0   Juan    25    M
1    Ana    18    F
2  Pedro    33    M
3  Marta    42    F
<class 'pandas.core.frame.DataFrame'>

### Series

- Columnas de pandas

In [3]:
# Capturar serir nombre
serie_nombre = df["nombre"]
print(serie_nombre)
print(type(serie_nombre))


serie_edad = df.edad
print(serie_edad)
print(type(serie_edad))

0     Juan
1      Ana
2    Pedro
3    Marta
Name: nombre, dtype: object
<class 'pandas.core.series.Series'>
0    25
1    18
2    33
3    42
Name: edad, dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
df["nombre"]

0     Juan
1      Ana
2    Pedro
3    Marta
Name: nombre, dtype: object

In [8]:
shape_df = df.shape
columns_df = df.columns
index_df = df.index

print(shape_df)
print(columns_df)
print(index_df)

(4, 3)
Index(['nombre', 'edad', 'sexo'], dtype='object')
RangeIndex(start=0, stop=4, step=1)