In [1]:
import pandas as pd

serie = pd.Series([5, 10, 15, 20, 25])
serie

0     5
1    10
2    15
3    20
4    25
dtype: int64

## Filtrado de series

In [2]:
# Genero la condición
filtro = serie > 15
serie_filtrada = serie[filtro]  
serie_filtrada

3    20
4    25
dtype: int64

In [3]:
filtro

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [ ]:
serie2 = pd.Series(["Pera", "Manzana", "Naranja", "Kiwi", "Sandía", "Piña", "Uva"])
serie2

0       Pera
1    Manzana
2    Naranja
3       Kiwi
4     Sandía
dtype: object

In [7]:
type(serie2)

pandas.core.series.Series

In [8]:
type(serie2[0])

str

In [15]:
# Filtramos la serie de frutas
filtro2 = serie2.str.contains("n")
serie2_filtrada = serie2[filtro2]
serie2_filtrada

1    Manzana
2    Naranja
4     Sandía
dtype: object

In [16]:
filtro2

0    False
1     True
2     True
3    False
4     True
dtype: bool

## Ejercicios

In [20]:
import pandas as pd

serie_numeros = pd.Series(list(range(1,21)))
filtro = serie_numeros > 10
serie_numeros[filtro]

10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
dtype: int64

In [21]:
import pandas as pd

valores = pd.Series([18, 22, 7, 9, 15, 8])
condicion_valores_pares = valores % 2 == 0
valores[condicion_valores_pares]

0    18
1    22
5     8
dtype: int64

In [ ]:
import pandas as pd
frutas = pd.Series(["manzana", "banana", "cereza", "durazno", "frambuesa"])
filtro = frutas.str.contains("e")
frutas_con_e = frutas[filtro]
frutas_con_e

2       cereza
4    frambuesa
dtype: object