# Proyecto del Día 7 - Analizador de Ventas

## Objetivo

- Crear un programa en Python que analice un conjunto de datos de ventas de una tienda. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. Lectura de Datos: Crea un DataFrame que contenga los datos provistos en el archivo Datos_Ventas_Tienda.csv provisto en esta lección. El archivo incluirá información como fecha de venta, categoría de producto, cantidad vendida y precio.

2. Fusión de Datos: Crea un segundo DataFrame que contenga los datos del archivo Datos_Ventas_Tienda2.csv (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. Tratamiento de Datos: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y transformaciones básicas.

4. Análisis de Ventas: Realiza análisis para responder preguntas como:

   - ¿Cuál es el producto más vendido?

   - ¿Cuál es el mes con más ventas?

5. Datos Agrupados: Agrupa los datos por categoría de producto y analiza las ventas por categoría.

6. Guardar Resultados: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

## 1. Lectura de Datos

In [61]:
import pandas as pd

In [62]:
df_1 = pd.read_csv('./Datos_Ventas_Tienda.csv')
df_1.head(5)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [64]:
df_2 = pd.read_csv('./Datos_Ventas_Tienda2.csv')
df_2.head(5)

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   8/25/2023  Electrónic         5              200         1000
1   8/14/2023   Alimentos         9               10           90
2   8/30/2023        Ropa         6               50          300
3   11/9/2023   Alimentos         2               10           20
4  10/26/2023        Ropa         8               50          400

## 2. Fusión de Datos

In [66]:
df = pd.concat([df_1, df_2], ignore_index=True)
df.head(5)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

## 3. Tratamiento de Datos

### Limpiar Datos

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   datetime64[ns]
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 41.1+ KB

### Transformaciones

In [83]:
type(df['Fecha'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [84]:
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%m/%d/%Y')
type(df['Fecha'][0])

pandas._libs.tslibs.timestamps.Timestamp

## 4. Análisis de Ventas

### Producto más vendido

In [87]:
producto_mas_vendido = df.groupby('Producto')['Cantidad'].sum().sort_values(ascending=False)
producto_mas_vendido

Producto
Alimentos     1262
Electrónic    1220
Ropa          1128
Juguetes      1113
Libros        1042
Name: Cantidad, dtype: int64

In [88]:
producto_mas_vendido.sort_values(ascending=False).head(1)

Producto
Alimentos    1262
Name: Cantidad, dtype: int64

### Mes con más ventas

In [89]:
# Mes con mas ventas
mes_con_mas_ventas = df.groupby(df['Fecha'].dt.month)['Total Venta'].sum()
mes_con_mas_ventas

Fecha
1     43030
2     28410
3     23200
4     23210
5     39380
6     30520
7     26350
8     45090
9     27870
10    25610
11    21020
12    33560
Name: Total Venta, dtype: int64

In [90]:
mes_con_mas_ventas.sort_values(ascending=False).head(1)

Fecha
8    45090
Name: Total Venta, dtype: int64

## 5. Datos Agrupados

### Total de ventas por producto

In [91]:
ventas_por_categoria = df.groupby('Producto')["Total Venta"].sum().sort_values(ascending=False)
ventas_por_categoria

Producto
Electrónic    244000
Ropa           56400
Juguetes       33390
Libros         20840
Alimentos      12620
Name: Total Venta, dtype: int64

In [92]:
# Ventas por mes de cada producto
serie_ventas = df.groupby(['Producto', df['Fecha'].dt.month])["Total Venta"].sum().sort_values(ascending=False)
print(serie_ventas)

Producto    Fecha
Electrónic  8        31200
            5        30800
            1        30400
            12       23400
            2        23000
            6        22000
            9        18800
            7        15800
            10       13600
            11       12400
            4        11600
            3        11000
Ropa        8         7300
            1         7100
            7         6100
            10        5600
            3         5500
            4         5000
            12        4800
            9         4100
Juguetes    10        4080
            4         4050
            3         3570
Ropa        11        3550
            6         3050
Juguetes    1         2940
            11        2880
            5         2670
            6         2580
            8         2550
            12        2490
Libros      8         2440
Ropa        5         2400
Libros      3         2280
Juguetes    7         2280
            9         2220
Libros      5         2180
Ropa        2         1900
Libros      12        1860
            1         1740
            6         1720
            9         1680
            2         1620
Alimentos   8         1600
Libros      4         1460
            11        1400
Alimentos   5         1330
Libros      10        1260
            7         1200
Alimentos   6         1170
            4         1100
Juguetes    2         1080
Alimentos   10        1070
            9         1070
            12        1010
            7          970
            3          850
            1          850
            2          810
            11         790
Name: Total Venta, dtype: int64

## 6. Guardar Resultados

In [81]:
df.to_csv('Resumen_Ventas.csv', index=False)