In [1]:
import pandas as pd
import numpy as np

## Convertir un dataframe de pandas en un array de numpy

In [2]:
df = pd.DataFrame({
    'Impares': [1,3,5],
    'Pares': [2,4,6]
})
df

   Impares  Pares
0        1      2
1        3      4
2        5      6

In [3]:
array_np1 = df.values
array_np1

array([[1, 2],
       [3, 4],
       [5, 6]])

In [4]:
array_np2 = df.to_numpy()
array_np2

array([[1, 2],
       [3, 4],
       [5, 6]])

In [6]:
# Metodo de numpy aplicado a un dataframe
np.sqrt(df)

    Impares     Pares
0  1.000000  1.414214
1  1.732051  2.000000
2  2.236068  2.449490

In [7]:
np.max(df)

6

## Convertir un array de numpy en un dataframe de pandas

In [14]:
array = np.array([1,2,3,4,5,6,7])

array2 = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [15]:
df_desde_np1 = pd.DataFrame(array)
df_desde_np1

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [17]:
df_desde_np2 = pd.DataFrame(array2, columns=['Col1', 'Col2', 'Col3'])
df_desde_np2

   Col1  Col2  Col3
0     1     2     3
1     4     5     6
2     7     8     9

### Ejercicios

In [21]:
import pandas as pd

mi_dataframe = pd.DataFrame({
    'Frutas': ['Manzana', 'Banana', 'Cereza'],
    'Cantidad': [5, 8, 3]
})
array_frutas = mi_dataframe.to_numpy()
array_frutas

array([['Manzana', 5],
       ['Banana', 8],
       ['Cereza', 3]], dtype=object)

In [20]:
import pandas as pd

mi_dataframe = pd.DataFrame({
    'Frutas': ['Manzana', 'Banana', 'Cereza'],
    'Cantidad': [5, 8, 3]
})

mi_dataframe_filtrado = mi_dataframe[mi_dataframe['Cantidad'] > 4]
array_filtrado = mi_dataframe_filtrado.to_numpy()
array_filtrado

array([['Manzana', 5],
       ['Banana', 8]], dtype=object)

In [ ]:
import pandas as pd
import numpy as np

mi_array = np.array([
    [10, 40], 
    [20, 50],
    [30, 60]
])
df_numeros = pd.DataFrame(mi_array, columns=["Decenas", "Centenas"])
df_numeros

   Decentes  Centenas
0        10        40
1        20        50
2        30        60